In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import yfinance as yf
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)
url= "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data=requests.get(url).text

In [2]:

soup = BeautifulSoup(html_data,"html5lib")

In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"  # Replace with the actual URL

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}


response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')


try:

    tesla_revenue = pd.read_html(str(soup), match="Tesla Quarterly Revenue", flavor='bs4')[0]
    
   
    print("Columns in DataFrame:", tesla_revenue.columns.tolist())
    
    tesla_revenue = tesla_revenue.rename(columns={
        tesla_revenue.columns[0]: 'Date',
        tesla_revenue.columns[1]: 'Revenue'
    })
    
    if 'Revenue' in tesla_revenue.columns:
        tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(str).str.replace(",","").str.replace("$","")
    
except Exception as e:
    print(f"Error with first method: {e}")
    
    try:
        tesla_revenue = pd.read_html(url, match="Tesla Quarterly Revenue", flavor='bs4')[0]
        

        print("Columns in DataFrame (second attempt):", tesla_revenue.columns.tolist())
        

        tesla_revenue = tesla_revenue.rename(columns={
            tesla_revenue.columns[0]: 'Date',
            tesla_revenue.columns[1]: 'Revenue'
        })
        
       
        if 'Revenue' in tesla_revenue.columns:
            tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(str).str.replace(",","").str.replace("$","")
    
    except Exception as e:
        print(f"Error with second method: {e}")

print(tesla_revenue.head())
tesla_revenue

Columns in DataFrame: ['Tesla Quarterly Revenue (Millions of US $)', 'Tesla Quarterly Revenue (Millions of US $).1']
         Date Revenue
0  2025-06-30   22496
1  2025-03-31   19335
2  2024-12-31   25707
3  2024-09-30   25182
4  2024-06-30   25500

          Date Revenue
0   2025-06-30   22496
1   2025-03-31   19335
2   2024-12-31   25707
3   2024-09-30   25182
4   2024-06-30   25500
..         ...     ...
60  2010-06-30      28
61  2010-03-31      21
62  2009-12-31     nan
63  2009-09-30      46
64  2009-06-30      27

[65 rows x 2 columns]